* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', serif;
    
}
a{
    text-decoration: none;
}
button:hover{
    color: white !important;
}
::selection {
    background-color: #ffc107; 
    color: white;              
  }